nav{
    background-color: #4a69bd;
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    height: 40px;
}

nav a{
    color:#ffffff;
    text-decoration: none;
    margin: 0 1rem;
    font-size: 1.1rem;
    font-weight: 600;
}

nav a:hover{
    color:rgb(201, 201, 201);
}

.nav-left{
    display: flex;
}

.hero{
    height: 100vh;
    position: relative;
    color: #ffffff;
    text-align: center;
    background-color: linear-gradient(135dg, gray, blue);
    overflow: hidden;
    padding-top: 80px;
    width: 100%;
}

.hero-video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.hero h1{
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-weight: 600;
    position: relative;
    z-index: 2;
}

.hero p{
    font-size: 1rem;
    margin-bottom: 1.5rem;
    font-weight: 400;
    position: relative;
    z-index: 2;
}

.hero img{
    border-radius: 50%;
    width: 170px;
    height: 170px;
    object-fit: cover;
    border: 4px solid yellow;
    position: relative;
    z-index: 2;
}

.about{
    padding: 2.5rem;
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    border: 10px;
    margin-top: 2rem;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.about h2{
    font-size: 2.2rem;
    margin-bottom: 1.2rem;
    color: #4a69bd;
}

.about p{
    color: #333;
    line-height: 1.6;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 2.5rem;
    justify-content: center;
    background-color: #e9ecef;
}

.project-card{
    display: block;
    border: 2px solid #4a69bd;
    padding: 1.2rem;
    width: 250px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.15);
    transition: transform 0.3 ease, box-shadow 0.3s ease;
}

.project-card:hover{
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.project-card img{
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 6px;
}

.project-card h3{
    font-size: 1.6rem;
    margin: 0.7rem 0;
    color: #2c3e50;
}

.project-card p{
    color: #555;
    line-height: 1.5;
}

footer{
    background-color: #4a69bd;
    color: #ffffff;
    text-align: center;
    padding: 1.2rem;
    font-size: 1rem;
}